.body-box {
  display: flex;
  height: 1000px;
  color: #3188de;
  background-color: white;
  font-weight: 500;
  width: 1800px;
}

// Recent Transaction table

.recent-trans-title {
  padding: 15px 0 15px 0;
}

.recent-trans-table {
  box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.2);
  margin: 15px 0 0 0;
}

.chart-wrapper {
  .recharts-wrapper {
    height: 50px;
  }
}

.chart-name {
  // margin-top: 10px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top:100px;
  left: 170px;
}

.chart-name p:last-child {
  margin-left: 270px;
}

.recent-trans-table ul {
  list-style: none;
  padding: 0;
  width: 100%;
  // width: 500px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: lightgrey;
  padding: 15px 17px 15px 5px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.delete-recent {
  color: white;
  background-color: #ff6666;
  border-radius: 3px;
  height: 25px;
  padding: 3px;
  cursor: pointer;
  &:hover {
    background-color: #ffb3b3;
  }
}

.recent-trans-table ul:first-child {
  border-radius: 5px 5px 0 0;
}

.recent-trans-table ul:last-child {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  border-radius: 0 0 5px 5px;
}

.recent-trans-table ul:first-child:hover {
  background-color: transparent;
}

.graphs {
  background-color: white;
}

.negative {
  color: #ff3333;
  &:hover {
    background-color: #ffcccc;
  }
}

.positive {
  color: #66cc66;
}

.rec-titles {
  color: #51535a;
}

.success-modal {
  color: red;
  font-weight: 600;
}
