.footer-box{
  height: 95px;
  background-color: rgb(52, 59, 66);
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.footer-pictures{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.derek{
  background-image: url('dc.png');
  width: 55px;
  height: 55px;
  background-size: cover;
  margin-right: 25px;
}

.rika{
  background-image: url('RS.png');
  width: 55px;
  height: 55px;
  background-size: cover;
  margin-right: 25px;
}

.justin{
  background-image: url('jh.png');
  width: 55px;
  height: 55px;
  background-size: cover;
  margin-right: 25px;
}

.alice{
  background-image: url('xy.png');
  width: 55px;
  height: 55px;
  background-size: cover

}