nav {
  background-color: #061479;
  height: 80px;
  width: 100%;
  color: white;
  font-weight: 400;
}

.nav-box {
  // background-color: #001f88;
  background-color: #001f88;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 30;
  border-bottom: 2px solid #232323;
}
.nav-container-placeholder {
  height: 80px;
  width: 100%;
}

.logo-logout-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-image: url(https://s3-us-west-1.amazonaws.com/bagquest-pro/logo/logo4.png);
  background-repeat: no-repeat;
  width: 130px;
  height: 100px;
  background-size: contain;
  margin-top: 10px;
}

.logout-button {
  font-size: 20px;
  color: white;

  border-radius: 5px;
  border: none;
  background-color: inherit;
  margin: 20px -40px 20px 0px;
  cursor: pointer;
}

.logout-button:hover {
  color: gray;
}
