.App{
  // text-align-last: right;
}

nav {
  background-color: white;
  height: 100px;
  width: 100%;
}

.nav-box{
  display: flex;
  justify-content: center;
}

.logo-logout-wrapper{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logo{
  background-image: url(https://s3-us-west-1.amazonaws.com/bagquest-pro/logo/logo2.png);
  background-repeat: no-repeat;
  width: 200px;
  height: auto;
  background-size: contain;
  margin-top: 15px;
}

.logout-button {
  font-size: 20px;
  // font-family: sans-serif;
  color: gray;
  border-radius: 5px;
  padding: 6px;
  border: none;

  // margin: 10px 10px 0px 0px;
}
