.App {
  // text-align-last: right;
}

nav {
  background-color: #a0cab1;
  height: 80px;
  width: 100%;
}

.nav-box {
  display: flex;
  justify-content: center;
}

.logo-logout-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-image: url(https://s3-us-west-1.amazonaws.com/bagquest-pro/logo/logo4.png);
  background-repeat: no-repeat;
  width: 130px;
  height: 100px;
  background-size: contain;
  margin-top: 10px;
}

.logout-button {
  font-size: 20px;
  // font-family: sans-serif;
  color: white;
  border-radius: 5px;
  padding: 6px;
  border: none;
  background-color: inherit;
  // margin: 10px 10px 0px 0px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: grey;
  font-size: 22px;
}
